@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'roboto', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

.loader_wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(306deg, #9256dc, #ff79da) 0% 10%/3000% 3000%;
  -webkit-animation: fontgradient 2s ease infinite, fade 5s ease-in-out forwards;
          animation: fontgradient 2s ease infinite, fade 5s ease-in-out forwards;
  opacity: 1;
  position: fixed;
  z-index: 9999;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand', cursive;
  font-weight: 300;
  font-size: 2em;
  color: black;
  -webkit-animation-name: bounceInTop;
          animation-name: bounceInTop;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
}

.skew {
  -webkit-animation-name: skew;
          animation-name: skew;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.letterO {
  -webkit-animation-name: translate;
          animation-name: translate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.letter {
  -webkit-animation-name: showUp;
          animation-name: showUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: TranslateX(900px);
            transform: TranslateX(900px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: TranslateX(900px);
            transform: TranslateX(900px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes skew {
  0% {
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@keyframes skew {
  0% {
    -webkit-transform: skew(60deg);
            transform: skew(60deg);
  }
  100% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}

@-webkit-keyframes translate {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes translate {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes bounceInTop {
  0% {
    -webkit-transform: translate3d(0, -600%, 0);
            transform: translate3d(0, -600%, 0);
  }
  58% {
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, -87px, 0);
            transform: translate3d(0, -87px, 0);
  }
  88% {
    -webkit-transform: translate3d(0, 37px, 0);
            transform: translate3d(0, 37px, 0);
  }
}

@keyframes bounceInTop {
  0% {
    -webkit-transform: translate3d(0, -600%, 0);
            transform: translate3d(0, -600%, 0);
  }
  58% {
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0);
  }
  73% {
    -webkit-transform: translate3d(0, -87px, 0);
            transform: translate3d(0, -87px, 0);
  }
  88% {
    -webkit-transform: translate3d(0, 37px, 0);
            transform: translate3d(0, 37px, 0);
  }
}

@keyframes fontgradient {
  0% {
    background-position: 30% 52%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 30% 52%;
  }
}

@-webkit-keyframes fade {
  0% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: -9999px;
  }
}

@keyframes fade {
  0% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: -9999px;
  }
}

.primarybtn {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 15px 10px 40px 10px;
  background: linear-gradient(173deg, #ff79da 5%, #9256dc 95%);
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
}

.primarybtn:hover {
  opacity: 0.65;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 3px 3px 10px #0d0d0d;
          box-shadow: 3px 3px 10px #0d0d0d;
  transition: 0.3s;
}

@-webkit-keyframes course_menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes course_menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes option_text {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes option_text {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fontgradient {
  0% {
    background-position: 30% 52%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 30% 52%;
  }
}

@keyframes fontgradient {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 90% 52%;
  }
  100% {
    background-position: 0% 32%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 5px 0px;
  position: relative;
}

header h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8em;
}

header span {
  position: absolute;
  left: 20px;
  top: 23px;
}

footer {
  background-color: #353535;
}

footer h4 {
  padding: 15px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.1em;
  font-weight: 100;
}

footer a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  padding: 0px 20px 15px 20px;
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

footer i {
  height: 10px;
  width: 20px;
}

footer .fas {
  font-size: 0.8em;
}

footer #footer_icon2 {
  font-size: 0.6em;
}

footer p {
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}

footer strong {
  font-weight: 400;
}

main img {
  width: 100%;
  height: 60vw;
}

#menu_card {
  border-radius: 40px 40px 0px 0px;
  background-color: #FFFFFF;
  position: relative;
  top: -40px;
}

#restaurant_id {
  font-family: 'Shrikhand', cursive;
  font-size: 1.4em;
  font-weight: 100;
  padding: 30px 20px;
}

.heart_empty_menu {
  position: absolute;
  cursor: pointer;
  top: 35px;
  right: 25px;
  font-size: 1.4em;
}

.heart_full_menu {
  position: absolute;
  top: 35px;
  right: 25.1px;
  opacity: 0;
  cursor: pointer;
  font-size: 1.4em;
  font-style: normal;
  background-size: 100%;
  background: linear-gradient(206deg, #ff79da, #9256dc) 0% 100%/200% 90%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.heart_full_menu:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  animation: fontgradient 0.8s ease infinite;
  -webkit-animation: fontgradient 0.8s ease infinite;
}

.course_menu {
  -webkit-animation: course_menu 2.5s ease-in-out forwards;
  animation: course_menu 2.5s ease-in-out forwards;
}

.menu_type {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0px 20px;
  position: relative;
  margin: 0px 0px 10px 0px;
}

.menu_type::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -7px;
  left: 20px;
  background-color: #99e2d0;
}

.menu_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_option {
  cursor: pointer;
  height: 57px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  border-radius: 12px;
  margin: 8px 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: option_text 2.5s ease-in-out forwards;
  animation: option_text 2.5s ease-in-out forwards;
}

.menu_option:hover i {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu_option:hover .price_check {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.menu_option:hover .option_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_option:hover .option_text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu_option:hover .option_text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#op_1 {
  -webkit-animation: option_text 5s ease-in-out forwards;
  animation: option_text 5s ease-in-out forwards;
}

#op_2 {
  -webkit-animation: option_text 5s ease-in-out forwards;
  animation: option_text 5s ease-in-out forwards;
}

#op_3 {
  -webkit-animation: option_text 5s ease-in-out forwards;
  animation: option_text 5s ease-in-out forwards;
}

#op_4 {
  -webkit-animation: option_text 5s ease-in-out forwards;
  animation: option_text 5s ease-in-out forwards;
}

.option_text {
  width: 60%;
}

.option_text h3 {
  padding: 10px 0px 3px 10px;
  font-size: 0.97em;
  white-space: nowrap;
}

.option_text p {
  padding: 0px 30px 10px 10px;
  font-size: 0.75em;
  white-space: nowrap;
}

.price_check {
  Position: relative;
  left: 60px;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.price_check p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 11px 20px;
  font-weight: 700;
  font-size: 0.8em;
  text-overflow: initial;
}

.price_check span {
  overflow-x: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #99e2d0;
  padding: 19px 17px 19px 15px;
}

.price_check i {
  color: #FFFFFF;
  font-size: 1.2em;
}

#order_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 70px 25px 70px;
  font-size: 0.9em;
}

body {
  counter-reset: list_number;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), color-stop(3%, #DBDBDB), color-stop(10%, #EAEAEA));
  background-image: linear-gradient(#DBDBDB 0%, #DBDBDB 3%, #EAEAEA 10%);
  width: 100%;
}

nav #map_location i {
  padding-top: 15px;
}

nav #map_location p {
  padding: 15px;
  font-weight: 500;
}

.seach_tittle {
  font-size: 1.35em;
  margin: 35px 30px 0px 35px;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

#map_location i, p {
  color: #353535;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}

#search .search_subtitle {
  margin: 10px 0px;
  font-weight: 300;
  font-size: 0.95em;
}

#search .primarybtn p {
  color: white;
}

#how_it_works h2 {
  margin: 40px 10px 10px 30px;
}

#how_it_works ol li::before {
  content: counter(list_number);
  counter-increment: list_number;
  background-color: #9256dc;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 2px 6.5px;
  position: absolute;
  left: -4vw;
  top: 7vw;
  font-weight: 400;
}

#how_it_works ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#how_it_works ol p {
  color: black;
}

#how_it_works li {
  cursor: pointer;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  padding: 25px;
  border-radius: 25px;
  margin: 10px 10px 10px 30px;
  font-size: 0.9em;
  font-weight: 500;
  position: relative;
}

#how_it_works li:hover .grey_icon {
  color: #9256dc;
}

#how_it_works i {
  padding-right: 20px;
}

#how_it_works .grey_icon {
  color: grey;
}

#restaurant_ads {
  margin-bottom: 15vw;
}

#restaurant_ads h2 {
  margin: 40px 10px 10px 30px;
}

#container_ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.restaurant_ad {
  position: relative;
  width: 90%;
  height: 70vw;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  border-radius: 13px;
  margin: 10px;
}

.restaurant_ad img {
  width: 100%;
  height: 49vw;
  border-radius: 13px 13px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 60%;
     object-position: 40% 60%;
}

.restaurant_ad figcaption {
  padding: 10px 11px;
}

.restaurant_ad p {
  font-size: 0.95em;
}

.heart_like {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.heart_like .heart_empty {
  position: relative;
  cursor: pointer;
  font-size: 1.4em;
}

.heart_like .heart_full {
  position: absolute;
  bottom: 0.9px;
  right: 0px;
  opacity: 0;
  cursor: pointer;
  font-size: 1.4em;
  font-style: normal;
  background-size: 100%;
  background: linear-gradient(206deg, #ff79da, #9256dc) 0% 100%/200% 90%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.heart_like .heart_full:hover {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  animation: fontgradient 0.8s ease infinite;
  -webkit-animation: fontgradient 0.8s ease infinite;
}

.noveau_sticker {
  position: absolute;
  right: 10px;
  bottom: 185px;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8em;
}

/* ----------- Mobile M ----------- */
@media screen and (max-width: 375px) and (min-width: 321px) and (-webkit-min-device-pixel-ratio: 3) {
  #search .search_subtitle {
    margin: 10px 10px;
    font-size: 1em;
  }
  #how_it_works ol li::before {
    top: 6vw;
  }
  .noveau_sticker {
    bottom: 59vw;
  }
  .heart_like {
    bottom: 40px;
  }
}

/* ----------- Mobile L ----------- */
@media screen and (max-width: 425px) and (min-width: 376px) and (-webkit-min-device-pixel-ratio: 2) {
  #search .search_subtitle {
    margin: 10px 10px;
    font-size: 1em;
  }
  .noveau_sticker {
    bottom: 60vw;
  }
  .heart_like {
    bottom: 40px;
  }
  .restaurand_ad {
    height: 65vw;
  }
}

/* ----------- Tablet S ----------- */
@media screen and (max-width: 570px) and (min-width: 426px) and (-webkit-min-device-pixel-ratio: 1) {
  #search .search_subtitle {
    margin: 10px 60px;
    font-size: 1em;
  }
  #how_it_works li {
    cursor: pointer;
    width: 370px;
  }
  #how_it_works ol li::before {
    left: -2.6vw;
    top: 1.6em;
  }
  .noveau_sticker {
    bottom: 29vw;
  }
  .heart_like {
    bottom: 20px;
  }
  .restaurant_ad {
    width: 45%;
    height: 30%;
  }
  .restaurant_ad img {
    width: 100%;
    height: 25vw;
  }
  .restaurant_ad figcaption {
    padding: 5px 11px;
  }
}

/* ----------- Tablet L ----------- */
@media screen and (max-width: 768px) and (min-width: 571px) and (-webkit-min-device-pixel-ratio: 1) {
  #search .search_subtitle {
    margin: 10px 60px;
    font-size: 1em;
  }
  #how_it_works li {
    cursor: pointer;
    width: 370px;
  }
  #how_it_works ol li::before {
    left: -2.6vw;
    top: 1.6em;
  }
  .noveau_sticker {
    bottom: 29vw;
  }
  .heart_like {
    bottom: 25px;
  }
  .restaurant_ad {
    width: 45%;
    height: 35vw;
  }
  .restaurant_ad img {
    width: 100%;
    height: 25vw;
  }
}
/*# sourceMappingURL=main.css.map */