@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  -webkit-overflow-x: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'roboto', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

.primarybtn {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 15px 10px 40px 10px;
  background: linear-gradient(173deg, #ff79da 5%, #9256dc 95%);
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
}

.primarybtn:hover {
  opacity: 0.65;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 3px 3px 10px #0d0d0d;
          box-shadow: 3px 3px 10px #0d0d0d;
  transition: 0.3s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 5px 40px;
}

header img {
  width: 80%;
  height: 80%;
}

footer {
  background-color: #353535;
}

footer h4 {
  padding: 15px;
  font-family: 'Shrikhand', cursive;
  font-size: 1em;
  font-weight: 100;
}

footer a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  padding: 0px 20px 15px 20px;
  list-style: none;
}

footer li {
  padding-bottom: 5px;
}

footer i {
  height: 10px;
  width: 20px;
}

footer .fas {
  font-size: 0.8em;
}

footer #footer_icon2 {
  font-size: 0.6em;
}

footer p {
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}

footer strong {
  font-weight: 400;
}

header {
  position: relative;
}

header span {
  position: absolute;
  left: 20px;
}

main img {
  width: 100%;
  height: 60vw;
}

#menu_card {
  border-radius: 40px 40px 0px 0px;
  background-color: #FFFFFF;
  position: relative;
  top: -40px;
}

#restaurant_id {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
  font-weight: 100;
  padding: 30px 20px;
}

.heart_empty_menu {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 1.4em;
}

.heart_full_menu {
  display: none;
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 1.4em;
}

.menu_type {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0px 20px;
  position: relative;
  margin: 0px 0px 10px 0px;
}

.menu_type::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: -7px;
  left: 20px;
  background-color: #99e2d0;
}

.menu_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_option {
  height: 57px;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  border-radius: 12px;
  margin: 8px 12px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_option div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_option h3 {
  padding: 10px 0px 3px 10px;
  font-size: 0.97em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_option p {
  padding: 0px 30px 10px 10px;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price_check p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 20px;
  font-weight: 700;
  text-overflow: initial;
}

.price_check span {
  overflow-x: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.price_check i {
  background-color: #99e2d0;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 19px 17px 19px 15px;
}

#order_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 70px 25px 70px;
  font-size: 0.9em;
}

body {
  counter-reset: list_number;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), color-stop(3%, #DBDBDB), color-stop(10%, #EAEAEA));
  background-image: linear-gradient(#DBDBDB 0%, #DBDBDB 3%, #EAEAEA 10%);
  width: 100%;
}

nav #map_location i {
  padding-top: 15px;
}

nav #map_location p {
  padding: 15px;
  font-weight: 500;
}

.seach_tittle {
  font-size: 1.35em;
  margin: 35px 30px 0px 35px;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

#map_location i, p {
  color: #353535;
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}

#search .search_subtitle {
  margin: 10px 0px;
  font-weight: 300;
  font-size: 0.95em;
}

#search .primarybtn p {
  color: white;
}

#how_it_works h2 {
  margin: 40px 10px 10px 30px;
}

#how_it_works ol li::before {
  content: counter(list_number);
  counter-increment: list_number;
  background-color: #9256dc;
  color: #FFFFFF;
  border-radius: 50%;
  padding: 2px 6.5px;
  position: absolute;
  left: -4vw;
  top: 7vw;
  font-weight: 400;
}

#how_it_works ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#how_it_works ol p {
  color: black;
}

#how_it_works li {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  padding: 25px;
  border-radius: 25px;
  margin: 10px 10px 10px 30px;
  font-size: 0.9em;
  font-weight: 500;
  position: relative;
}

#how_it_works i {
  padding-right: 20px;
}

#how_it_works .grey_icon {
  color: grey;
}

#how_it_works .violet_icon {
  color: #9256dc;
}

#restaurant_ads {
  margin-bottom: 15vw;
}

#restaurant_ads h2 {
  margin: 40px 10px 10px 30px;
}

#ads_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.restaurant_ad {
  width: 90%;
  height: 70vw;
  -webkit-box-shadow: 3px 3px 10px #bfbfbf;
          box-shadow: 3px 3px 10px #bfbfbf;
  border-radius: 13px;
  margin: 10px;
}

.restaurant_ad img {
  width: 100%;
  height: 49vw;
  border-radius: 13px 13px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 60%;
     object-position: 40% 60%;
}

.restaurant_ad figcaption {
  padding: 10px 11px;
}

.restaurant_ad p {
  font-size: 0.95em;
}

.heart_like {
  position: relative;
}

.heart_like .heart_empty {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5em;
}

.heart_like .heart_full {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5em;
}

.heart_like .heart_full:hover {
  display: initial;
}

.heart_like p {
  position: absolute;
  right: 0px;
  bottom: 171px;
  color: #008766;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8em;
}
/*# sourceMappingURL=main.css.map */