// Utils
@import "./utils/variables";
@import "./utils/mixins";
// base
@import "./base/base";
@import "./base/typography";
// Components
@import "./components/loader";
@import "./components/buttons";
@import "./components/animations";
// Layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/menu";
// Pages
@import "./pages/home";
@import "./pages/home_queries";



// QUERIES

/* ----------- Mobile M ----------- */

@media screen 
  and (max-width: 375px)
  and (min-width: 321px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #search .search_subtitle {
        margin: 10px 10px;
        font-size: 1em;
    }

    #how_it_works ol li::before {
        top: 6vw;  
    }
    
    .noveau_sticker {
        bottom: 59vw;
    }

    .heart_like {
        bottom: 40px;
    }

}

/* ----------- Mobile L ----------- */

@media screen 
  and (max-width: 425px)
  and (min-width: 376px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #search .search_subtitle {
        margin: 10px 10px;
        font-size: 1em;
    }

    .noveau_sticker {
        bottom: 60vw;
    }

    .heart_like {
        bottom: 40px;
    }

    .restaurand_ad { 
        height: 65vw;
    }

}

// TABLETS

/* ----------- Tablet S ----------- */
@media screen 
  and (max-width: 570px) 
  and (min-width: 426px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #search .search_subtitle {
        margin: 10px 60px;
        font-size: 1em;
    }

    #how_it_works li {
        cursor: pointer;
        width: 370px;
    }

    #how_it_works ol li::before {
        left:-2.6vw;
        top: 1.6em;
        
    }

    .noveau_sticker {
        bottom: 29vw;
    }

    .heart_like {
        bottom: 20px;
    }

    .restaurant_ad {
        width: 45%;
        height: 30%;
    }

    .restaurant_ad img {
        width: 100%;
        height: 25vw;
    }
    .restaurant_ad figcaption {
        padding: 5px 11px;
    }
}
/* ----------- Tablet L ----------- */


@media screen 
  and (max-width: 768px) 
  and (min-width: 571px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #search .search_subtitle {
        margin: 10px 60px;
        font-size: 1em;
    }

    #how_it_works li {
        cursor: pointer;
        width: 370px;
    }

    #how_it_works ol li::before {
        left:-2.6vw;
        top: 1.6em;
        
    }

    .noveau_sticker {
        bottom: 29vw;
    }

    .heart_like {
        bottom: 25px;
    }

    .restaurant_ad {
        width: 45%;
        height: 35vw;
    }

    .restaurant_ad img {
        width: 100%;
        height: 25vw;
    }

}