footer { background-color: #353535 ;
    
    h4 { padding: 15px; 
         font-family: 'Shrikhand', cursive; 
         font-size: 1.1em;
         font-weight: 100;
        }
    
    a { color: white;
        @include flexcenteralignment;
      }
   
    ul { padding: 0px 20px 15px 20px;
         list-style: none;}
    
    li { padding-bottom: 5px;}
    
    i  { height:10px;
         width: 20px;}
         
    .fas {font-size: 0.8em;}

    #footer_icon2 {font-size: 0.6em;} 

    p { color: white;
        font-weight: 300;
        font-size: 0.8em;
      }
    
    strong { font-weight: 400;}

 }
