header {
    @include flexcenter;
    padding: 10px 0px 5px 0px;
    position:relative;
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 1.8em;
        color: $color-dark;
    
}
    span {
        position:absolute;
          left:20px;
          top:23px;}
}

