main {
    img { width:100%;
        height:60vw;
        object-fit: cover;
    }
}

#img_lpdg { 
    object-position: 0% 70%;
}
#img_lne {
    object-position: 0% 74%;
}
#img_alf {
    object-position: 0% 170%;
}
#img_ldds {
    object-position: 0% 100%;
}

#menu_card {
    border-radius: 40px 40px 0px 0px;
    background-color: #FFFFFF;
    position: relative;
    top: -40px;
}

#restaurant_id {
    font-family: 'Shrikhand', cursive;
    font-size: 1.4em;
    font-weight: 100;
    padding:30px 20px;
}

#heart_like {
    position: relative;
    top: -58px;
    right: 25px;
}

.heart_empty_menu {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    font-size: 1.4em;
}

.heart_full_menu {
    position:absolute;
    top: 0px;
    right: 0.1px;
    @include heart-full;
}
.course_menu {-webkit-animation: course_menu 2.5s ease-in-out forwards;
    animation: course_menu 2.5s ease-in-out forwards;}

.menu_type {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0px 20px;
    position: relative;
    margin: 0px 0px 10px 0px;
}

.menu_type::after {
    content: "";
position: absolute;
width: 40px;
height: 3px;
bottom: -7px;
left: 20px;
background-color: #99e2d0;
}

.menu_content {
   display: flex;
   flex-direction: column;
   
   
}

.menu_option {
    cursor:pointer;
    height:57px;
    box-shadow: 3px 3px 10px #bfbfbf;
    border-radius: 12px;
    margin: 8px 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    -webkit-animation: option_text 2.5s ease-in-out forwards;
    animation: option_text 2.5s ease-in-out forwards;
        &:hover i {
            transform: rotate(2turn);
            transition: 0.7s;
        }
        &:hover .price_check {
            transform: translateX(-60px);
        }
        &:hover .option_text { @include hidden;
        h3 { @include hidden;}
        p { @include hidden;}
        }
} 
    
.option_text { width: 60%;

    h3 { padding: 10px 0px 3px 10px; 
         font-size: 0.97em;
         white-space: nowrap;

       }
    p { padding:0px 30px 10px 10px;
        font-size: 0.75em;
        white-space: nowrap;
        
      }
}
.price_check {
    Position: relative;
    left:60px;
    transition: transform 300ms ease-in-out;
    display: flex;
    align-self: center;
    p { align-self: flex-end;
        padding:11px 20px;
        font-weight: 700;
        font-size: 0.8em;
        text-overflow: initial;
      }
    span {
           overflow-x: hidden;
           align-self: center;
           background-color:$color-tertiary;
           padding:19px 17px 19px 15px;}
    i { 
        color:#FFFFFF;
        font-size: 1.2em;
      }
}
#order_btn_zone {
    @include flexcenter;
}

#order_btn {
    margin: 40px 70px 25px 70px;
    padding: 16px 40px;
    font-size: 0.9em;
}

//////////// Media Queries ////////////

// MOBILE

/* ----------- Mobile M ----------- */

@media screen and (max-width: 374px) and (min-width: 320px) {

    .img_background { height: 230px;}
    #img_lpdg { 
        object-position: 0% 74.5%;
    }
    #img_lne {
        object-position: 0% 74.5%;
    }
    #img_alf {
        object-position: 0% 170%;
    }
    #img_ldds {
        object-position: 0% 170%;
    }
}

/* ----------- Mobile L ----------- */

@media screen and (max-width: 424px) and (min-width: 375px) { 
    
    .img_background {
        height: 230px;
    }

    #img_lpdg {
        object-position: 0% 0%;
    }
    #img_lne {
        object-position: 0% 73%;
    }
    #img_alf {
        object-position: 0% 155%;
    }
    #img_ldds {
        object-position: 0% 100%;
    }
}

// TABLETS

/* ----------- Tablet S ----------- */

@media screen and (max-width: 569px) and (min-width: 425px) {
   
    .img_background {
        height: 230px;
    }

    #img_lpdg { 
        object-position: 0% 2%;
    }
    #img_lne {
        object-position: 0% 68%;
    }
    #img_alf {
        object-position: 0% 100%;
    }
    #img_ldds {
        object-position: 0% 97%;
    }

    #heart_like {
        right: 35px;
    }

    .menu_option {
        .option_text p { 
            font-size: 0.85em;
        }
    }

}

/* ----------- Tablet L ----------- */

@media screen and (max-width: 768px) and (min-width: 570px) {
    
    .img_background {
        height: 230px;
    }

    #img_lpdg { 
        object-position: 0% 70%;
    }
    #img_lne {
        object-position: 0% 55%;
    }
    #img_alf {
        object-position: 0% 73%;
    }
    #img_ldds {
        object-position: 0% 77%;
    }
    
    #restaurant_id {
        text-align: center;
    }

    #heart_like {
        right: 35px;
    }

    .menu_type {
        padding: 0px 43.5vw;
    }
    
    .menu_type::after { 
        left: 43.5vw; 
    }

    .menu_content { 
        align-items: center;
    }

    .menu_option {
        width: 528px;
        .option_text p { 
            font-size: 0.85em;
        }
    }
}

// DESKTOP

/* ----------- Laptop  ----------- */

@media screen and (max-width: 1024px) and (min-width: 769px) { 
    
    .img_background {
        height: 230px;
    }

    #img_lpdg { 
        object-position: 0% 66%;
    }
    #img_lne {
        object-position: 0% 55%;
    }
    #img_alf {
        object-position: 0% 60%;
    }
    #img_ldds {
        object-position: 0% 74%;
    }

    #restaurant_id {
        text-align: center;
    }

    #heart_like {
        right: 29.5vw;
    }
    #menu_wrapper { 
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .menu_content {
        .menu_option {
            width: 29.4vw;
        }
        .option_text {
            @include hidden;
            h3 { 
                @include hidden;
            }
            p { 
                @include hidden;
                font-size: 0.85em;
            }
        }
    }
}
/* ----------- Laptop L  ----------- */

@media screen and (max-width: 1440px) and (min-width: 1025px) { 
    
    .img_background {
        height: 230px;
    }

    #img_lpdg { 
        object-position: 0% 57.5%;
    }
    #img_lne {
        object-position: 0% 55%;
    }
    #img_alf {
        object-position: 0% 53%;
    }
    #img_ldds {
        object-position: 0% 69%;
    }

    #restaurant_id {
        text-align: center;
    }

    #heart_like {
        right: 31vw;
    }

    #menu_wrapper { 
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .menu_content {
        .menu_option {
            width: 29.4vw;
            .option_text p { 
                font-size: 0.85em;
            }
        }
    }
}
/* ----------- 4k+  ----------- */

@media screen and (min-width: 1441px) { 

    .img_background {
        height: 230px;
    }

    #img_lpdg {
        object-position: 0% 51.5%;
    }
    #img_lne {
        object-position: 0% 55%;
    }
    #img_alf {
        object-position: 0% 47.5%;
    }
    #img_ldds {
        object-position: 0% 62%;
    }

    #restaurant_id {
        text-align: center;
    }

    #heart_like {
        right: 32.5vw;
    }

    #menu_wrapper { 
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .menu_content {
        .menu_option {
            width: 29.4vw;
            .option_text p { 
                font-size: 0.85em;
                font-weight: 500;
            }
        }
    }
}