main {
    img { width:100%;
        height:60vw;
    }
}

#menu_card {
    border-radius: 40px 40px 0px 0px;
    background-color: #FFFFFF;
    position: relative;
    top: -40px;
}

#restaurant_id {
    font-family: 'Shrikhand', cursive;
    font-size: 1.4em;
    font-weight: 100;
    padding:30px 20px;
}

.heart_empty_menu {
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 25px;
    font-size: 1.4em;
}

.heart_full_menu {
    position:absolute;
    top: 35px;
    right: 25.1px;
    @include heart-full;
}
.course_menu {-webkit-animation: course_menu 2.5s ease-in-out forwards;
    animation: course_menu 2.5s ease-in-out forwards;}

.menu_type {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0px 20px;
    position: relative;
    margin: 0px 0px 10px 0px;
}

.menu_type::after {
    content: "";
position: absolute;
width: 40px;
height: 3px;
bottom: -7px;
left: 20px;
background-color: #99e2d0;
}

.menu_content {
   display: flex;
   flex-direction: column;
   
   
}

.menu_option {
    cursor:pointer;
    height:57px;
    box-shadow: 3px 3px 10px #bfbfbf;
    border-radius: 12px;
    margin: 8px 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
        &:hover i {
            transform: rotate(2turn);
            transition: 0.7s;
        }
        &:hover .price_check {
            transform: translateX(-60px);
        }
        &:hover .option_text { @include hidden;
        h3 { @include hidden;}
        p { @include hidden;}
        }
        -webkit-animation: option_text 2.5s ease-in-out forwards;
    animation: option_text 2.5s ease-in-out forwards;
} 
#op_1 { @include animation-menu;}
#op_2 { @include animation-menu;}
#op_3 { @include animation-menu;}
#op_4 { @include animation-menu;}      
    
.option_text { width: 60%;

    h3 { padding: 10px 0px 3px 10px; 
         font-size: 0.97em;
         white-space: nowrap;

       }
    p { padding:0px 30px 10px 10px;
        font-size: 0.75em;
        white-space: nowrap;
        
      }
}
.price_check {
    Position: relative;
    left:60px;
    transition: transform 300ms ease-in-out;
    display: flex;
    align-self: center;
    p { align-self: flex-end;
        padding:11px 20px;
        font-weight: 700;
        font-size: 0.8em;
        text-overflow: initial;
      }
    span {
           overflow-x: hidden;
           align-self: center;
           background-color:$color-tertiary;
           padding:19px 17px 19px 15px;}
    i { 
        color:#FFFFFF;
        font-size: 1.2em;
      }
}

#order_btn {
    @include flexcenter;
    margin: 40px 70px 25px 70px;
    font-size: 0.9em;
}