@keyframes course_menu {

    from {
      opacity: 0;

    }
    to {
      opacity: 1;
    }
}
  
@keyframes option_text {

    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

@keyframes fontgradient { 
    0%{background-position:0% 32%}
    50%{background-position:90% 52%}
    100%{background-position:0% 32%}
}

@keyframes showUp {
  0% { opacity:0; transform: TranslateX(900px)}
    50% {opacity:0;}
    100% {opacity:1;}
}
@keyframes skew {
    0% { transform: skew(60deg);}
    100% { transform: skew(0deg);}
}
  
@keyframes translate {
    0% { transform: translateX(600px);}
    100% { transform: translateX(0px);}
}
  
@keyframes bounceInTop {
      0% { transform: translate3d(0, -600%, 0) }
      58% { transform: translate3d(0, 90px, 0) }
      73% { transform: translate3d(0, -87px, 0) }
      88% { transform: translate3d(0, 37px, 0) }
}
  
@keyframes fontgradient { 
  0%{background-position:30% 52%}
  50%{background-position:90% 50%}
  100%{background-position:30% 52%}
}
  
@keyframes fade {
    0% { left:0px}
    50% { left:0px;}
     100% { left:-9999px;}
}  