///////// Main Button /////////

.primarybtn { @include primarybtn }

///////// Heart Like /////////

// _home like btn

.heart_like  { 
    position: absolute;
    bottom: 30px;
    right: 20px;
    .heart_empty { 
        position: relative;
       cursor:pointer;
       font-size:1.4em;
    }
    .heart_full { 
        position: absolute;
        bottom: 0.9px;
        right:  0px;
        @include heart-full;
    }
}

// _menu like btn

#heart_like {
    position: relative;
    top: -58px;
    right: 25px;
}

.heart_empty_menu {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    font-size: 1.4em;
}

.heart_full_menu {
    position:absolute;
    top: 0px;
    right: 0.1px;
    @include heart-full;
}