@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body {
    font-family: 'roboto', sans-serif;
  a {
    text-decoration: none;
    color: black;
}
  h1 { font-size: 1.4em;}
  h2 { font-size: 1.3em;}
  h3 { font-size: 1.1em;}
  h4 { font-family: 'Shrikhand', cursive; font-size: 1em;}
  #map_location i, p { color:#353535;}
}

footer p {color: white;}