@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body {
    font-family: 'roboto', sans-serif;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h1 {}
  h2 {}
  h3 {}
  h4 { font-family: 'Shrikhand', cursive; font-size: 1em;}
  footer a {color: white}