@mixin flexcenter { display: flex;
                    justify-content: center;
    
}
@mixin flexrow { display: flex;
                 flex-flow: row wrap;
                 justify-content: center;
}