@mixin flexcenter { display: flex;
                    justify-content: center;
    
}

@mixin flexrow { display: flex;
                 flex-flow: row wrap;
                 justify-content: center;
}

@mixin flexcenteralignment { display:flex;
                             align-items: center;
}

@mixin primarybtn {
    cursor: pointer;
    opacity: 0.8;
    border: none;
    border-radius: 25px;
    padding: 16px 20px;
    color: $color-light;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 15px 10px 40px 10px;
    background: $btn-gradient;
    @include box-shadow;
    &:hover {
      opacity: 0.65;
      transition: 0.3s;
      @include box-shadow--dark;
      transition: 0.3s;}
}

@mixin box-shadow($colour: $color-shadow) {
    box-shadow: 3px 3px 10px $colour;
}

@mixin box-shadow--dark($colour: $color-shadow--dark) {
    box-shadow: 3px 3px 10px $colour;
}
@mixin nav-gradient {background-image:linear-gradient( #DBDBDB 0%, #DBDBDB 3%, #EAEAEA 10%); 
width: 100%}

@mixin hidden {overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}


@mixin heart-full {
    opacity: 0;
    cursor: pointer;
    font-size: 1.4em;
    font-style: normal;
    background-size: 100%;
    background:$hrt-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0.4);

    &:hover { 
        opacity:1;
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 1s;
    animation: fontgradient 0.8s ease infinite;
    -webkit-animation: fontgradient 0.8s ease infinite;}
}